// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row{
  background-color: gray;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 2rem auto;

  > div{
    flex: 1;
  }
}
